body {
    background-color: #E6E6FA;
    text-align: center;
    padding-top: 30px;
}

.btn_style {
    width: 300px;
    height: 40px;
    background: white;
    border: solid 1px black;
    border-radius: 10px;
    font-size: 20px;
    margin: 5px;
    display: inline-block;
}

.btn_style2 {
    width: 200px;
    height: 40px;
    background:white;
    font-weight: bold;
    color: #51588c;
    border: solid 2px #51588c;
    border-radius: 10px;
    font-size: 25px;
    margin: 5px;
    display: inline-block;
}

table.table_style {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin: 20px auto;
}

table.table_style th {
    width: 100px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #6495ed;
}

table.table_style td {
    width: 100px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: white;
}