<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공과대학 간식행사</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
<h1 style="font-size: 50px; color: #51588c; font-weight: bold">Do you want to cancel the application?</h1>
<table class="table_style">
    <th>이름</th>
    <th style="width: 150px">학과</th>
    <th>학번 10자리</th>
    <th style="width: 150px">연락처</th>
    <th style="width: 120px">원하는 간식</th>
    <th>Delete</th>
    {% for order in orders.all%}
    <tr>
        <td>{{ order.user }}</td>
        <td style="width: 150px">{{ order.department }}</td>
        <td>{{ order.studentID }}</td>
        <td style="width: 150px">{{ order.phoneNumber }}</td>
        <td style="width: 120px">{{ order.orderItem }}</td>
        <td>
            <form action="http://127.0.0.1:8000/delete/" method="POST" class="form_style">
                {% csrf_token %}
                <input type="hidden" name="delete_id" value="{{ order.id }}">
                <input type="submit" style='WIDTH: 40pt; HEIGHT: 18pt; color:#6495ed; border:none; background-color: white; text-decoration: underline' value="신청취소">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<button id="btn_mainPage" class="btn_style2">Main Page</button>
<br>
</body>
<script>
    const btn_mainPage = document.getElementById('btn_mainPage');
    btn_mainPage.addEventListener('click', function () {
        location.href = "http://127.0.0.1:8000/index/"
    })
</script>
</html>