<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공과대학 간식행사</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
<div style="background-color: white; width: 600px ; margin: 0 auto; padding: 10px">
    <h1> 공과대학 간식행사 이벤트</h1>
    <table style="margin: 0 auto">
        <td><img src="{% static 'img/subway.jpg' %}" width="180"; height="180"></td>
        <td><img src="{% static 'img/macdonald.jpg' %}" width="180"; height="180"></td>
        <td><img src="{% static 'img/gs25.jpg' %}" width="180"; height="180"></td>
    </table>
    <button id = "btn_insert" class = "btn_style">신청</button><br>
    <button id = "btn_show" class = "btn_style">당첨자 내역</button><br>
    <button id = "btn_update" class = "btn_style">신청 수정</button><br>
    <button id = "btn_delete" class = "btn_style">신청 취소</button><br>
</div>
<script type="text/javascript">
    const btn_insert = document.getElementById('btn_insert');
    btn_insert.addEventListener('click', function(){
        location.href = "http://127.0.0.1:8000/insert/"
    })
    const btn_show = document.getElementById('btn_show');
    btn_show.addEventListener('click', function(){
        location.href = "http://127.0.0.1:8000/show/"
    })
    const btn_update = document.getElementById('btn_update');
    btn_update.addEventListener('click', function(){
        location.href = "http://127.0.0.1:8000/update/"
    })
    const btn_delete = document.getElementById('btn_delete');
    btn_delete.addEventListener('click', function(){
        location.href = "http://127.0.0.1:8000/delete/"
    })
</script>

</body>
</html>